<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Hi there  :)</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
            
        </div>   
        <div class="col-xs-6">
            <form>
                <div class="form-group">
                  <label class="m-2" for="exampleFormControlTextarea2"></label>
                  <textarea 
                  [(ngModel)]="tags" 
                  name="name"    
                  class="form-control m-2" id="exampleFormControlTextarea2"  rows="3" ></textarea>
                </div>
              </form> 
              <hr>
        </div> 
        <p>{{tags.text}}</p>     
        <div class="modal-footer">      
          <button type="button" class="btn btn-outline-dark" (click)="saveAndAddNumbers(tags); d('Cross click')">Save</button>
        </div>    
      </ng-template>
      
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Edit tags</button>